<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modicare</title>
    <script>
        function redirect(){
            
        }
    </script>
</head>
<body>
    <h1>How much you will take To become a GLOBAL BLACK DIAMOND DIRECTOR??</h1>
    <form action = '/success' method = "post">
    <input type = "text" name = "name" placeholder = "Enter Your Name">
    <input type = "number" name = "number" placeholder = "Number of Downlines">
    <input type = "number" name = "time" placeholder = "Time Assosiated(in months)">
    <input type = "submit">
    </form>
</body>
</html>