
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="propeller" content="a551f0fb1f27222438746bcba5ab0c42">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Modicare Info</title>

    <link rel = "stylesheet" href = "/css/custom.css">
    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  function unlock(){
    document.getElementById('view').style.display = "block";
    document.getElementById('hide').style.display = "none";
  }

</script>
<script>
  $('#name').on('click', function(event){
    $('#ad').click();
    $(this).off(event);
  })
</script>
  </head>

  <body>

    <%- include partials/navbar.ejs %>

    <main role="main" class="container">
        <a href = "http://bodelen.com/afu.php?zoneid=2329950" id = "#ad" target = "_blank" style = "display:none;"></a>

      <form action = '/success' method = "post">
      <p>
     <input type = "text" class = "form-control" id = "name" name = "name" placeholder = "Enter Your Name">
      </p>
      <p>
      <input type = "number" class = "form-control" name = "number" placeholder = "Number of Downlines">
      </p>
      <p>
      <input type = "number" class = "form-control" name = "time" placeholder = "Time in Modicare (in months)">
      </p>
      <input type = "submit" id = "view" class = "btn btn-primary form-control" style = "display:none;">
      <a href="whatsapp://send?abid=phonenumber&text=https://modicare.herokuapp.com/" onclick = "unlock()" id = "hide" class = "form-control" style = "text-align:center;background-color:green;color: #fff">
       अपना GBDD बनने का समय जानने के लिए इसे 2 व्हाट्सएप ग्रूप या 4 लोगों को शेयर करें| इसे Click करें aur <img src = "/css/images/whatsapp1.png" style = "margin-left:-3px;margin-bottom:5px;height:30px;width:30px;margin-top:3px;"></a>
      </form>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

  </body>
</html>
