body{
    background-image: url("background1.jpg");
}

#head{
    font-family: Ariel;
    font-size: 10px;
}

#result{
    background-color: #007BFF;
    text-align: center;
    color: #fff;
}

#hide{
    height:70px;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
}